@page "/ImageClassification"
@using BlazorMLWebApp.ImageClassification
@inject ILogger<FormExample> Logger

<PageTitle>Image Classification</PageTitle>

<MudGrid>
    <MudItem xs="6" md="8" Class="d-flex justify-center align-center" Style="height:500px;">
        <MudImage ObjectFit="ImageFit" Height="null" Width="@ImageWidth" Src="@($"images/{Image}")" Alt="Alt Image"
            Elevation="25" Class="rounded-lg" />
    </MudItem>

    <MudItem xs="6" md="4">
        <MudPaper Class="pa-4 mt-6 mt-lg-16" Elevation="0">
            <MudText Typo="Typo.h6">Options</MudText>
            <MudSelect Label="Image" AnchorOrigin="Origin.BottomCenter" Dense="true" Margin="Margin.Dense"
                @bind-Value="Image" Class="mt-4">
                <MudSelectItem T="string" Value="@("dog.png")">Dog</MudSelectItem>
                <MudSelectItem T="string" Value="@("elephant.jpg")">Elephant</MudSelectItem>
                <MudSelectItem T="string" Value="@("fox.jpg")">Fox</MudSelectItem>
            </MudSelect>
            <div class="d-flex justify-space-between align-center mt-4">
                <MudButton Variant="Variant.Filled" EndIcon="@Icons.Material.Filled.Send" Color="Color.Surface"
                    OnClick="Predict">
                    @if (_processing)
                    {
                        <MudProgressCircular Class="ms-n1" Size="Size.Small" Indeterminate="true" />
                        <MudText Class="ms-2">Processing</MudText>
                    }
                    else
                    {
                        <MudText>Predict</MudText>
                    }
                </MudButton>
            </div>
            <div class="d-flex justify-space-between align-center mt-4">
                <MudText>Label: @_imageData.Label</MudText>
            </div>

            <div class="d-flex justify-space-between align-center mt-4">
                <MudText>Prob: @_imageData.probability</MudText>
            </div>
            <div class="d-flex justify-space-between align-center mt-4">
                <InputFile id="ImageInputField" OnChange="UploadFiles" hidden multiple accept=".jpg, .jpeg, .png" />
                <MudButton HtmlTag="label" Variant="Variant.Filled" Color="Color.Primary" StartIcon="@Icons.Filled.Add"
                    for="ImageInputField">
                    Add image
                </MudButton>
            </div>
        </MudPaper>
    </MudItem>
</MudGrid>

@code
{
    public string Image { get; set; } = "dog.png";
    public int ImageWidth { get; set; } = 300;

    public ObjectFit ImageFit { get; set; } = ObjectFit.Cover;

    public bool IsUploading { get; set; } = false;

    private long maxFileSize = 1024 * 1024 * 24; // 24 MB

    private async Task UploadFiles(InputFileChangeEventArgs e)
    {
        var entries = e.GetMultipleFiles();
        IsUploading = true;

        foreach (var file in e.GetMultipleFiles())
        {
            MemoryStream stream = new MemoryStream();
            await file.OpenReadStream(maxFileSize).CopyToAsync(stream);
        }

        //Do your validations here
        //TODO upload the files to the server
    }

    InferenceModel inference = new InferenceModel("wwwroot/Onnx/SqueezeNet.onnx", "data_0", "softmaxout_1");
    protected override void OnInitialized()
    {
        Logger.LogInformation("OnInitialized called");
    }

    private bool _processing = false;
    private ImageData _imageData = new ImageData();

    private async Task Predict()
    {
        Logger.LogInformation("Predict called");
        ImageData image = new ImageData()
        {
            ImagePath = $"wwwroot/images/{Image}"
        };

        _processing = true;
        await Task.Delay(500);
        _imageData = inference.PredictImage(image);
        _processing = false;
    }
}